<%- include('header') -%>
<%- include('menu') -%>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h2 class="text-center">Rollers</h2>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Id</th>
                    <th>Brand</th>
                    <th>Price $/Min</th>
                    <th>Available</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>ES3</td>
                    <td>213123</td>
                    <td>Acer</td>
                    <td>1</td>
                    <td><input type="checkbox" checked></td>
                    <td>
                        <a href="/newroller.html" class="btn btn-sm btn-warning"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>KickScooter D18E</td>
                    <td>46352</td>
                    <td>Segway-Ninebot</td>
                    <td>2.5</td>
                    <td><input type="checkbox"></td>
                    <td>
                        <a href="/newroller.html" class="btn btn-sm btn-warning"><i class="far fa-edit"></i></a>
                        <a href="#" class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <a href="/newroller.html" class="btn btn-block btn-primary">Add new roller</a>
        </div>
    </div>
</div>

<%- include('footer') -%>
